<section class="container-fluid" id="sectione1">
    <div class="container">

        <div class="row">
            <h1> Histórico prueba ENLACE </h1>
            <h3>09/06/2015</h3><br>
            <p>Ahora analizaremos los resultados de las pruebas ENLACE. Para realizar este análisis y comparar resultados, tanto a lo largo del tiempo como por el tipo de escuela, tenemos que ajustar los mismos tomando en consideración los promedios nacionales a lo largo de los años, como también los promedios dependiendo del tipo de escuela, ya que no sería justo comparar escuelas dirigidas a la comunidad indígena con escuelas particulares, o no es prudente comparar resultados del año 2009 con el 2013.</p>
            <p>Dado lo anterior, hemos decidido presentar los resultados no por el promedio de resultados que obtiene cada escuela, que es tal como viene en la base de datos, sino a este promedio restarle el promedio nacional de acuerdo al año y tipo de escuela. De esta forma, esta diferencia nos dice que tan alejados del promedio nacional estamos y por tanto que tan bien o mal se está respecto a los otros.</p>

        </div><!--/row-->
        <div class="row"><br></div>
    </div><!--/container-->
</section>
<section class="container-fluid" id="sectione2">
    <div class="container">
        <div class="row">
            <h1> Primarias </h1>
        </div>
    </div>
</section>
<section class="container-fluid sectione3">
    <div class="container">
        <div class="row">
            <p>Un histograma para la diferencia respecto a la media nacional, que en este caso la llamamos desviación, nos puede indicar que proporción de las escuelas se encuentran por abajo o encima de la media nacional, aquellas que están muy a la izquierda significa que están muy por abajo de lo que se esperaría de ellas, cuando se encuentran muy a la derecha significa que sus resultados sobresalen respecto a los demás.</p>
            <p>En general, los resultados de las primarias para Puebla, muestran que estan ligeramente por abajo de la media nacional, pero no encontramos algun campo en especial que lo estuviera haciendo particularmente peor o mejor.</p>
        </div>
    </div>
</section>
<section class="container-fluid" id="sectione4">
    <div class="container">
        <div class="row">
            <h1>Secundarias</h1>
        </div>
    </div>
</section>
<section class="container-fluid sectione3">
    <div class="container">
        <div class="row">
            <p>Análizamos las diferencias, igual que con las primarias, para ver si podíamos identificar un campo en especial en el que pudieramos observar un comportamiento muy diferente respecto al promedio nacional.</p>
            <p>En estos resultados se puede ver que los promedios se encuentran por debajo de la media nacional, incluso un poco más que los resultados de las escuelas primarias, particularmente las secundarias particulares tienen un sesgo a la izquierda, significando que lo hacen un poco peor que el promedio nacional de las secundarias nacionales. Para 2012 y 2013 las telesecundarias también se vieron un poco rezagadas respecto a sus homólogas nacionales.</p>
        </div>
    </div>
</section>
