<section class="container-fluid" id="sectioni1">
    <div class="container">
        <h1> Recursos de las escuelas</h1>
        <h3>08/06/2015</h3><br>
        <div clas="row">
            <p>Uno de los objetivos principales del CEMABE es conocer la infraestructura, el equipamiento y los servicios de los centros de trabajo educativos. Por ello el Cuestionario de Inmueblei indagó las características constructivas de la escuela, los servicios básicos disponibles, la infraestructura educativa y sanitaria, así como las condiciones de la misma; las medidas de protección civil implementadas y los recursos para emergencias disponible.</p>
            <p>El Cuestionario de Inmueble recopiló diversa información que se puede resumir en el listado siguiente:</p>

        </div>
    </div>
</section>
