<section class="container-fluid" id="sectioni1">
    <div class="container">
        <div clas="row">
            <h1> Recursos de las escuelas</h1>
            <h3>08/06/2015</h3><br>
            <p>Uno de los objetivos principales del CEMABE es conocer la infraestructura, el equipamiento y los servicios de los centros de trabajo educativos. Por ello el Cuestionario de Inmueblei indagó las características constructivas de la escuela, los servicios básicos disponibles, la infraestructura educativa y sanitaria, así como las condiciones de la misma; las medidas de protección civil implementadas y los recursos para emergencias disponible.</p>
            <p>El Cuestionario de Inmueble recopiló diversa información que se puede resumir en el listado siguiente:</p>

        </div>
    </div>
</section>
<section class="container-fluid" id="sectioni2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center"> El Cuestionario de Inmueble </h1>
            </div>
            <div class="col-md-6">
                <p>Datos de identificación del inmueble y del informante</p>
                <p>Tipo de inmueble y dirección</p>
                <p>Centros de trabajo y sus características generales</p>
                <p>Características de la construcción del inmueble</p>
                <p>Servicios básicos de los inmuebles</p>
                <p>Servicios para personas con discapacidad y espacios para educación especial</p>
                <p>Espacios disponibles para el servicio educativo</p>
                <p>Capacidad instalada</p>
                <p>Protección civil</p>
                <p>Mantenimiento y rehabilitación</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid" id="sectioni3">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <h1> Ubicación de todas <br> las escuelas censadas </h1><br><br>
                <p>En este gráfico podemos ver la ubicación de todas las escuelas censadas y tienen color diferente dependiendo del nivel educativo al que se enfocan. En algunos casos no hay nivel educativo porque no es una escuela propiamente, pero sí un centro de trabajo, como puede ser una biblioteca.</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid" id="sectioni4">
    <div class="container">
        <div class="col-md-5">
            <h1> Mapas interactivos </h1><br><br>
            <p>Este es un mapa con solo 2,000 escuelas en donde podemos observar su ubicación espacial, podemos ver la zona en la que se encuentra y el nombre y nivel educativo de la institución. Se debe aclarar que la ubicación espacial es una aproximación que se obtuvo dado la AGEB a la que pertenece.</p>

        </div>
        <div class="col-md-7">
        </div>
    </div>
</section>
<section class="container-fluid" id="sectioni5">
    <div class="container">
        <div class="row">
            <h1>Carencias</h1> <br><br>
            <p>Acerca de los servicios básicos, son 2,467 escuelas que no tienen acceso a una red pública para el abastecimiento del agua. En cuestión de electricidad, 429 no tienen servicio de electricidad de ningun tipo y 720 no tienen un baño o sanitario.</p>
        </div>
    </div>
</section>
